<!DOCTYPE html>
<html>
<head>
  <title><%= Client.current.title %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
THIS IS A PULL REQUEST TEST LINE
Third Line for larry
KUTORABLETEST
</body>
</html>
