<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <link href='http://fonts.googleapis.com/css?family=Cabin' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <!-- shim partial here --> 
  <%= render 'layouts/shim'%>
</head>
<body>



<!-- container wraps all page content -->
<div class="container">
  <!-- header partial rendered here -->
  <%= render 'layouts/header' %>
  <!-- starter template div here -->  
  <div class="col-lg-8 col-lg-offset-2 text-center">
    <!-- content of all the pages are 'yielded' here -->
    <%= yield %>
  </div>
  <!-- footer is yielded here --> 
  <%= render 'layouts/footer' %>
</div>

<!-- added necessary js files -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="../../dist/js/bootstrap.min.js"></script>

</body>
</html>
