<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <meta name="description" content="Bringing the cutest pet pictures of the interwebs to you!">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <% if @picture %>
    <meta property="og:image" content="../../assets/animal_pictures/<%= @picture.file_name %>" />
  <% end %> 
  <link href='http://fonts.googleapis.com/css?family=Cabin' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <!-- shim partial here --> 
  <%= render 'layouts/shim'%>
</head>
<body>

<!-- header partial rendered here -->
<%= render 'layouts/header' %>
  
  <!-- starter template div here -->  
    <!-- content of all the pages are 'yielded' here -->
    <%= yield %>
  <!-- footer is yielded here --> 

<%= render 'layouts/footer' %>

<!-- added necessary js files -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="../../assets/bootstrap.min.js"></script>

</body>
</html>
